<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" default="true"/>
    <arg name="global_frame" default="/robot/map"/>
    <arg name="robot_base_frame" default="robot_base_link"/>
    <arg name="planner_topic" default="/robot/move_base/GlobalPlanner/plan"/>

    <node pkg="explore_lite" type="explore" name="explore" output="screen">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
        <param name="planner_frequency" value="1.0"/>
        <param name="progress_timeout" value="30.0"/>
        <param name="visualize" value="true"/>
        <param name="global_frame" value="$(arg global_frame)"/>
        <param name="robot_base_frame" value="$(arg robot_base_frame)"/>
        <param name="planner_topic" value="$(arg planner_topic)"/>
    </node>
</launch>